.tab-view{
    width: 100%;
}

.tab-view .title{
    font-weight: bold;
    padding: 0.5em;
}

.tab-view .body {
    padding: 1em;
}

.tab-view .tabs{
    display:flex;
    justify-content: center;
    align-items: center;
}

.tab-view .tabs .tab{
    padding: 5px 1em;
    border: 1px solid gray;
}

.tab-view .tabs .active-tab {
    padding: 5px 1em;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    background-color:#A7C8E7;
}
/* 
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: lightgrey;
} */


.content-tab {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    justify-items: center;   
    background-color: #A7C8E7;
}

@media screen and (max-width: 1100px) {
    .content-tab {
        grid-template-columns: 1fr 1fr;
    }
} 

@media screen and (max-width: 725px) {
    .content-tab {
        grid-template-columns: 1fr;
    }
} 