.tab-view{
    width: 100%;
}

.tab-view .title{
    font-weight: bold;
    padding: 0.5em;
}

.tab-view .body {
    padding: 1em;
}

.tab-view .tabs{
    display:flex;
    justify-content: center;
    align-items: center;
}

.tab-view .tabs .tab{
    padding: 5px 1em;
    border: 1px solid gray;
}

.tab-view .tabs .active-tab {
    padding: 5px 1em;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    background-color: lightgray;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: lightgrey;
}

@media screen and (max-width: 768px) {
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: auto;
        align-items: stretch;
    }
}