.footer{
    margin: 4rem 6rem; 
    text-align: start;
    background-color: transparent;  
 }

 
.top{
    padding-bottom: 1rem;
}

.footer a{
    color:black;
    text-transform: lowercase;
    text-decoration: none;
}



